/*Carousel CSS

.textCarousel{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*
    Texto Inicial CSS
*/



/*
    Cards Experiencias del usuario


.card-body{
    width: 100%;
    background-color: white;
}

.contendor-cards{
    margin: 25px;
    margin-bottom: 90px;
    
}




